# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env
.env.*
!.env.example

# External datasets and credentials
../data/raw/
../data/staging/
../data/processed/
*.zip
*.csv
*.xlsx
kaggle.json
access_token

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
